
@model cellphones.Models.User

@{
    ViewBag.Title = "Cập Nhật Mật Khẩu";
    Layout = "~/Views/Shared/Signup.cshtml";

}

<h2>Cập Nhật Mật Khẩu</h2>

@using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <!-- Trường ẩn để truyền email -->
    <input type="hidden" name="email" value="@ViewBag.Email" />
    <div>
        <div style="margin:auto">
            <div>
                <label>Mật Khẩu Mới</label>
                <input type="password" name="newPassword" class="form-control" placeholder="Nhập Mật Khẩu Mới" />
            </div>

            <div>
                <label>Xác Nhận Mật Khẩu</label>
                <input type="password" name="confirmPassword" class="form-control" placeholder="Xác Nhận Mật Khẩu" />
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cập Nhật" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>

}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success">@ViewBag.Success</div>
}
